﻿@using FraudDetection.Models
@model List<TransactionModel>


<br /><br />
<br /><br />


@using (Html.BeginForm("GetResult", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Detect Fraud" />
        </div>
    </div>
}



<table  class="table table-bordered ">
    <tr>
        <th>
            ID
        </th>
        <th>
            Transaction Time
        </th>
        <th>
           Transaction Amount
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            Transaction Source
        </th>
        <th>
            Description Channel
        </th>
        <th>
            Card Type
        </th>
        <th>
            Company Code
        </th>
        <th>
            Outlet Code
        </th>
        <th>
            Card Exp Date
        </th>
        <th>
            Fraud Probability
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr  @Html.Raw(item.Probability <0.5?"style='background-color:LightGreen;'": "style='background-color:LightCoral;'")>
            <td >
                @Html.DisplayFor(modelItem => item.index)
            </td>
            <td>
               @Html.DisplayFor(x => item.FormatedDT)
            </td>
            <td  >
                @Html.DisplayFor(modelItem => item.FormatedAmount).ToString() ($)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionChannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutletCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatedCED).ToString().Substring(3, 7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probability)
            </td>
        </tr>
    }
</table>