﻿@model FraudDetection.Models.GeneratorModel

@{
    ViewBag.Title = "Transaction";
}

<br />
@using (Html.BeginForm("Transaction", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Generate Syntetic Transactions</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <label>Transactions Number</label>
        @Html.DropDownListFor(m => m.TransactionsNumber, (SelectList)ViewBag.TransactionsNumbers)

        <label>Test Transactions Number</label>
        @Html.DropDownListFor(m => m.TestTransactionsNumber, (SelectList)ViewBag.TestTransactionsNumbers)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Generate Transactions" />
        </div>
    </div>
}


@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}




